#imagebar {
    display: inline-block;
    text-align: center;
    width: 100%;
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    padding: 0;
}

#imagebar div {
    display: inline-block;
    padding: 0.5vw;
}

#imagebar img {
    width: 33vw;
    max-width: 400px;
    
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    
    transition: none;
}
